{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Sign Up</h1>
                <div class="text-danger">{{error}}</div>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="user_email">Email</label>
                    <input type="user_email" name="email" class="form-control" placeholder="example@gmail.com" id="user_email">
                </div>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Write your username" id="username">
                </div>
                <div class="mb-3">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" class="form-control" placeholder="Write your password" id="password2">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirm Password</label>
                    <input type="password2" name="password2" class="form-control" placeholder="Confirm your password" id="password2">
                </div>
                <button class="btn btn-outline-primary">
                    SignUp
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

