{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 py-5">
            <h1>{{task.title}}</h1>
                <div class="text-danger">{{error}}</div>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary">
                            Update
                        </button>
                    </form>
            <div class="">
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success">
                        Complete
                    </button>
                </form>
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}